---
title: Alpine.js-HTMX
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/vanilla.css" />
    <script src="js/alpine.js" defer></script>
    <script src="js/htmx.js"></script>
    <link rel="icon" href="favicon.png" type="image/png" />
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </body>
</html>
