@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #000;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgba(147, 51, 234);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#app {
  background: radial-gradient(circle, #f8f8f8 10%, transparent 20%) 10px 10px;
  background-size: 20px 20px;
  animation: moveDots 5s infinite alternate;
}

/* Dark mode */
html.dark #app {
  background: radial-gradient(circle, #0e0e0e 10%, transparent 20%) 10px 10px;
  background-size: 20px 20px;
  animation: moveDots 5s infinite alternate;
}

/* Анимация движения точек */
@keyframes moveDots {
  0% {
    background-position: 0 0, 10px 10px;
  }
  25% {
    background-position: 5px 0, 15px 10px;
  }
  50% {
    background-position: 0 5px, 10px 15px;
  }
  75% {
    background-position: -5px 0, 5px 10px;
  }
  100% {
    background-position: 0 0, 10px 10px;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Dark mode */
html.dark ::-webkit-scrollbar-thumb {
  background: #3b3b3b;
}

html.dark ::-webkit-scrollbar-track {
  background: #0e0e0e;
}
